<!DOCTYPE html>
<html>
  <head>
    <title>Users</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">
                <%= yield :title %>
              </h4>
            </div>
            <div class="card-body">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
